In [104]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [105]:
df1 = pd.read_csv('Data_Level5_BAH_OceanCleanup.final_version.csv', low_memory = False)
df1 = df1.loc[0:12]
subset = df1.loc[:, '# of bags':'Plastic Pieces']
df1['mean'] = ''

In [106]:
df2 = pd.DataFrame()

In [107]:
for i, row in df1.iterrows():
    c = []
    #for key, value in subset.iteritems():
    for col in subset.columns:
        if df1.iloc[i][col] != 0:       
            c.append(col)
            number = df1.iloc[i]['Pounds']/len(c)
    df1.at[i,'mean'] = number

In [96]:
for numbers in df1.iterrows():
    for i in range (14, 60):
        df2['bags_mean'] = df1['mean']/df1[df1.columns[i]]

TypeError: range expected 1 arguments, got 0

In [108]:
for numbers in df1.iterrows():
    df2['bags_mean'] = df1['mean']/df1['# of bags']
    
for numbers in df1.iterrows():
    df2['cigarette_butts_mean'] = df1['mean']/df1['Cigarette Butts']
    
for numbers in df1.iterrows():
    df2['food_wrappers_mean'] = df1['mean']/df1['Food Wrappers (candy, chips, etc.)']

for numbers in df1.iterrows():
    df2['food_wrappers_mean'] = df1['mean']/df1['Food Wrappers (candy, chips, etc.)']

In [103]:
df2

    bags_mean cigarette_butts_mean
0   0.0274725           0.00250275
1       3.125             0.446429
2     0.46875           0.00420404
3   0.0595238           0.00181951
4   0.0100321           0.00162856
5    0.234375            0.0241935
6    0.164474           0.00134677
7    0.694444             0.793651
8    0.120192           0.00534931
9    0.535714           0.00753201
10  0.0394737           0.00107004
11    2.14286           0.00732601
12   0.178571            0.0235479

In [ ]:
df1['new']

In [ ]:
df1['new'].median()